<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">


    <insert id="addStu">
        insert into dsdesign.student (password, sid, location) VALUES (#{password},#{sid},#{location})
    </insert>

    <insert id="addCourse">
        insert into dsdesign.event(name, location, startTime, tag, type, weekLast, hourLast, sid,link) VALUES (#{name},#{location},#{startTime},#{tag},#{type},#{weekLast},#{hourLast},#{sid},#{link})
    </insert>

    <update id="updateCourseLocation">
        update event set location =#{Location} where name =#{name}
    </update>

    <update id="updateCourseStartTime">
        update event set startTime =#{startTime} where name =#{name}
    </update>

    <delete id="removeCourse">
        delete from event where sid=#{sid} and name=#{name}
    </delete>
</mapper>