<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <insert id="addExtra">
        insert into dsdesign.event(name, location, startTime, tag, type, weekLast, hourLast, sid) VALUES (#{name},#{location},#{startTime},#{tag},#{type},#{weekLast},#{hourLast},#{sid})
    </insert>
    <insert id="addTempo">
        insert into dsdesign.event(name, location, startTime, tag, type, weekLast, hourLast, sid) VALUES (#{name},#{location},#{startTime},#{tag},#{type},#{weekLast},#{hourLast},#{sid})
    </insert>
    <update id="updateExtraLocation">
        update event set location =#{Location} where name =#{name} and sid =#{sid} and type = 2
    </update>
    <update id="updateTempoLocation">
        update event set location =#{Location} where name =#{name} and sid =#{sid} and type = 3
    </update>
    <update id="updateExtraStartTime">
        update event set startTime =#{startTime} where name =#{name} and sid =#{sid} and type = 2
    </update>
    <update id="updateTempoStartTime">
        update event set startTime =#{startTime} where name =#{name} and sid =#{sid} and type = 3
    </update>
    <delete id="deleteTempo">
        delete from event where sid=#{sid} and name=#{name} and type = 3
    </delete>
    <delete id="deleteExtra">
        delete from event where sid=#{sid} and name=#{name} and type = 2
    </delete>


    <select id="select" resultType="Users.Student">
        select * from dsdesign.student where student.sid=#{id} and password=#{password}
    </select>
</mapper>