<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <insert id="addExtra">
        insert into dsdesign.event(name, location, startTime, tag, type, weekLast, hourLast, sid,link) VALUES (#{name},#{location},#{startTime},#{tag},#{type},#{weekLast},#{hourLast},#{sid},#{link})
    </insert>
    <insert id="addTempo">
        insert into dsdesign.event(name, location, startTime, tag, type, weekLast, hourLast, sid,link) VALUES (#{name},#{location},#{startTime},#{tag},#{type},#{weekLast},#{hourLast},#{sid},#{link})
    </insert>

    <update id="updateExtra">
        update event
        set name = #{name},Location = #{Location},link = #{link},tag=#{tag}
        where startTime = #{startTime} and type = 2;
    </update>
    <update id="updateTempo">
        update event
        set name = #{newName},Location = #{Location} where startTime = #{startTime} and type=3 and name=#{oldname}
    </update>
    <delete id="deleteTempo">
        delete from event where sid=#{sid} and name=#{name} and type = 3
    </delete>
    <delete id="deleteExtra">
        delete from event where sid=#{sid} and name=#{name} and type = 2
    </delete>


    <select id="select" resultType="Users.Student">
        select * from dsdesign.student where student.sid=#{id} and password=#{password}
    </select>
</mapper>